:root {
  --main-font: "Poppins", sans-serif;
  --dark-color: #272044;
}
.page-container {
  max-width: 1400px;
  margin: 0 auto;
}
body {
  background-color: var(--dark-color) !important;
}
section {
  /* max-width: 1200px; */ /*draw a box w/ page container*/
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("/images/background.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* padding: 60px 0; */
  padding: 200px 0;
  color: white;
  text-align: center;
  font-family: var(--main-font);
}

header h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 900;
  letter-spacing: 5px;
  margin: 0;
}
header h1 {
  font-size: 96px;
  line-height: 1;
  font-weight: 700;
  margin: 30px 0;
}
header h2 {
  font-size: 40px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

header a {
  text-decoration: none;
  background-color: white;
  color: var(--dark-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  padding: 16px 32px;
  display: inline-block;
  letter-spacing: 3px;
  margin-top: 32px;
}

/*MAIN*/
main {
  background-color: #ffffff;
}
main h2 {
  font-family: var(--main-font);
  color: var(--dark-color);
  font-size: 16px;
  font-weight: bold;
  opacity: 0.3;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
main h3 {
  font-family: var(--main-font);
  color: var(--dark-color);
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
main p {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
  line-height: 1.5;
  color: var(--dark-color);
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.img-responsive {
  width: 100%;

  /* height: auto;
  display: block; */
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

/*ACTIVITES*/
section.activites {
  background-color: #f8f8f8;
}
.card {
  background-color: white;
  /* padding: 12px; */
  /* margin: 30px 0; */
}

/*removes white space so img shows*/
.card-header.grid {
  grid-gap: 0;
}

.card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-header iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.card-body {
  padding: 30px;
}
.card-footer {
  padding: 30px 30px;
}
.activites h2,
.activites h3 {
  text-align: center;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: var(--dark-color);
  font-family: var(--main-font);
  margin: 0;
}
main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: var(--dark-color);
  font-family: var(--main-font);
  margin: 0;
}

.lean-more-btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  font-family: var(--main-font);
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}

/*FOOTER*/
footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: var(--dark-color);
  color: white;
  /* padding: 100px 0; */
}

.grid {
  display: grid;
  grid-gap: 64px;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
}
footer a {
  color: white;
  opacity: 0.7;
}

footer div {
  margin-top: 32px;
  font-family: var(--main-font);
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.5;
  line-height: 24px;
}
.grid-3-columns-ft {
  grid-template-columns: 1fr 2fr 2fr;
}

/*Mobile Responsive*/
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  section {
    padding: 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .card-header img {
    display: none;
  }
  .embed-map {
    aspect-ratio: 16 /9;
  }
}
