:root {
  --main-font: "Poppins", sans-serif;
  --dark-color: #272044;
}
.page-container {
  max-width: 1400px;
  margin: 0 auto;
}
body {
  background-color: var(--dark-color);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("/images/background.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* padding: 60px 0; */
  padding: 200px 0;
  color: white;
  text-align: center;
  font-family: var(--main-font);
}

header h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 900;
  letter-spacing: 5px;
  margin: 0;
}
header h1 {
  font-size: 96px;
  line-height: 1;
  font-weight: 700;
  margin: 30px 0;
}
header h2 {
  font-size: 40px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

header a {
  text-decoration: none;
  background-color: white;
  color: var(--dark-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  padding: 16px 32px;
  display: inline-block;
  letter-spacing: 3px;
  margin-top: 32px;
}

/*FOOTER*/
footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.8)
    ),
    url("/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: var(--dark-color);
  color: white;
  padding: 100px 0;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 64px;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer ul {
  padding: 0;
}

footer li {
  list-style-type: none;
}
footer a {
  color: white;
  opacity: 0.7;
}

footer div {
  margin-top: 32px;
  font-family: var(--main-font);
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.5;
  line-height: 24px;
}

/*Mobile Responsive*/
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  footer h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
  }
}
